name: Test suite

on:
  push:
    branches: [master]
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14", "3.14t", "pypy-3.11"]
        include:
        - os: macos-latest
          python-version: "3.10"
        - os: macos-latest
          python-version: "3.14"
        - os: windows-latest
          python-version: "3.10"
        - os: windows-latest
          python-version: "3.14"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
        cache: pip
        cache-dependency-path: pyproject.toml
    - name: Install cargo-llvm-cov and llvm-tools
      run: |
        rustup component add llvm-tools-preview
        cargo install cargo-llvm-cov
    # Setup environment variables for cargo-llvm-cov
    - name: Setup cargo-llvm-cov env (Unix)
      if: runner.os != 'Windows'
      run: eval "$(cargo llvm-cov show-env --manifest-path rust/Cargo.toml --sh)"
    - name: Setup cargo-llvm-cov env (Windows)
      if: runner.os == 'Windows'
      run: Invoke-Expression (cargo llvm-cov show-env --manifest-path rust/Cargo.toml --with-pwsh-env-prefix | Out-String)
    - name: Install the project and its dependencies
      run: pip install --group test -e .
    - if: runner.os != 'Windows'
      run: env | sort
    - name: Test with pytest
      run: coverage run -m pytest -v
      env:
        RUST_BACKTRACE: "1"
        TZ: America/New_York
    - name: Generate Python coverage report
      run: coverage xml
    - name: Generate LCOV report
      run: cargo llvm-cov report --lcov --manifest-path rust/Cargo.toml --output-path coverage.lcov
    - name: Upload Coverage
      uses: coverallsapp/github-action@v2
      with:
        parallel: true
        files: coverage.xml coverage.lcov

  coveralls:
    name: Finish Coveralls
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Finished
      uses: coverallsapp/github-action@v2
      with:
        parallel-finished: true
